{% extends "base.html" %}

{% block title %}Stock Detail-{{ symbol }}{% endblock %}

{% block header %}
<!-- Header -->
<header id="header">
    <h1><a href="{{ url_for('index')}}">Solid State</a></h1>
    <nav>
        <a href="#menu">Menu</a>
    </nav>
</header>
{% endblock %}

{% block banner %}

{% endblock %}

{% block content %}


<section id="wrapper">
    <header>
        <div class="inner">
            <h2>{{ symbol }}的詳細資訊</h2>
            <p>Phasellus non pulvinar erat. Fusce tincidunt nisl eget ipsum.</p>
        </div>
    </header>

    <!-- Content -->
    <div class="wrapper">
        <div class="inner">
            <section>
                <h3 class="major">{{ symbol }}的儀表板</h3>
                {% if grafana_dashboard_url %}
                <iframe src="{{ grafana_dashboard_url }}" width="100%" height="2100" frameborder="0">
                </iframe>
                {% else %}
                <p>無法加載 Grafana 儀表板。</p>
                {% endif %}
                <br>
                <hr>



            </section>

            <section class="features">

            </section>

        </div>
    </div>

</section>


{% endblock %}