.selected {
    background-color: #4c5c96;
    box-shadow: none;
}

#pagination-buttons>li>button.page {
    box-shadow: none;
    font-family: "Source Sans Pro", Helvetica, sans-serif;

}

ul.pagination,
.pagination-input-container {
    display: flex;
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
    margin: 10px;
    /* 根据需要调整外边距 */

}

.stock-id-search-container {
    display: flex;
}

.ulcontainer {
    height: 260px;
    overflow-y: auto;
    overflow-x: hidden;

}

.filtercontainer {
    border: #60627c 1px solid;
    border-radius: 5px;
    padding: 15px 15px 20px 15px;
    margin-bottom: 20px;
    margin-right: -10px;
    background-color: rgba(255, 255, 255, 0.025);
}

ul.actions.fit {
    margin-bottom: 0;
}

@media screen and (max-width: 980px) {

    .ulcontainer {
        height: auto;
        max-height: 260px;
    }

}

@media screen and (max-width: 480px) {



    ul.actions.fit li {
        max-width: 95%;
    }
}

/* 自定义滚动条样式 */
.ulcontainer::-webkit-scrollbar {
    width: 8px;
    /* 滚动条宽度 */
    height: 8px;
}

.ulcontainer::-webkit-scrollbar-track {
    background: #464646;
    border-radius: 6px;
    /* 滚动条轨道背景色 */
}

.ulcontainer::-webkit-scrollbar-thumb {
    background: #888;
    /* 滚动条颜色 */
    border-radius: 6px;
    /* 滚动条圆角 */
}

.ulcontainer::-webkit-scrollbar-thumb:hover {
    background: #adadad;
    /* 滚动条悬停颜色 */
}


#goto-page-input,
#stock-id-input {
    width: 120px;
    padding: 13px;
    margin-right: 10px;
}

@media screen and (max-width: 736px) {

    .page-dots,
    .page {
        display: none;
    }

    .page[data-page="1"],
    .page[data-page="2"],
    .page[data-page="totalPages"],
    .page[data-page="totalPages-1"],
    .page[data-page="currentPage"],
    .page[data-page="currentPage+1"],
    .page[data-page="currentPage-1"] {
        display: inline-block;
    }
}

#slider {
    margin: 50px auto;
    width: 80%;
}

#slider-value {
    text-align: center;
    margin: -20px 0 10px 0;
}

button {
    padding: 0 10px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-wrap: wrap;

}

#results {
    width: 100%;
    overflow-x: auto;
    /* 添加水平滚动条 */
}

/* 自定义滚动条样式 */
#results::-webkit-scrollbar {
    height: 8px;
    /* 滚动条宽度 */
}

#results::-webkit-scrollbar-track {
    background: #464646;
    border-radius: 6px;
    /* 滚动条轨道背景色 */
}

#results::-webkit-scrollbar-thumb {
    background: #888;
    /* 滚动条颜色 */
    border-radius: 6px;
    /* 滚动条圆角 */
}

#results::-webkit-scrollbar-thumb:hover {
    background: #adadad;
    /* 滚动条悬停颜色 */
}

table {
    width: 100%;
    border-collapse: collapse;
    /* table-layout: fixed; */
}

th,
td {
    overflow: hidden;
    text-overflow: ellipsis;
    /* 使用省略号表示超出部分 */
    max-width: 100%;
    /* 设置最大宽度 */
}

.total-count {
    font-size: 18px;
    text-align: right;
    margin: 10px 5px 20px 5px;
}

section .results {
    overflow: hidden;
    /* 隐藏超出部分的内容 */
}

/* 自定义滑块轨道 */
.noUi-target,
.noUi-lower,
.noUi-connect {
    background: #dbdbdb !important;
    /* 滑块轨道背景色 */
    height: 15px !important;
}

.noUi-connect {
    background: #485275 !important;
    /* 滑块活动部分的背景色 */
    /
}

/* 自定义滑块 */
.noUi-handle {
    background: #d9dcdd !important;
    /* 滑块颜色 */
    border: 2px solid #ff5733;
    /* 滑块边框 */
    border-radius: 40% !important;
    /* 滑块圆角 */
}

.noUi-tooltip {
    background: #c4c6c7 !important;
    color: #000000 !important;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    border: none !important;
    padding: 0px 8px !important;
    border-radius: 3px !important;
}

table th:nth-child(6),
table td:nth-child(6) {
    display: none;
}